*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: hsl(188, 70%, 36%);
}

.emoji {
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}

.closed {
    display: none;
}

.opened {
    display: none;
}

.active {
    display: block;
}